<div ng-controller="MainCtrl">
    <h1>Validations Demo Page</h1>

    <h3>Basic Usage</h3>

    <p class="help-block">
        Most basic usage, with no changes.
    </p>

    <div class="well clearfix">
        <form vt-form ng-submit="submitForm(0)" name="firstForm" novalidate>
            <div class="form-group">
                <label>Full name:</label>
                <input class="form-control" ng-model="firstExample.fullName" vt required type="text"/>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" ng-model="firstExample.email" vt required type="email"/>
            </div>
            <div class="form-group">
                <label>Age:</label>
                <input class="form-control" ng-model="firstExample.age" vt min="18"  max="90" type="number"/>
                <p class="help-block">Not required, but must be between 18-90</p>
            </div>
            <div class="pull-right">
                <button class="btn btn-default" type="button" ng-click="firstForm.$setPristine()">Reset</button>
                <button class="btn btn-info">Send!</button>
            </div>
        </form>
        <h4 ng-show="formSuccess[0]" class="text-success">Form validaton passed!</h4>

    </div>



    <h3>Scrolling Example</h3>

    <p class="help-block">
        For long forms, the window will scroll to the first erroneous field.
    </p>

    <div class="well clearfix">
        <form vt-form ng-submit="submitForm(1)" name="secondForm" novalidate>
            <div class="form-group">
                <label>Full name:</label>
                <input class="form-control" ng-model="secondForm.fullName" vt required type="text"/>
                <p class="help-block">Try leaving it empty and submitting the form!</p>
            </div>
            <h4>Some other inputs or info...</h4>
            <h4>Some other inputs or info...</h4>
            <h4>Some other inputs or info...</h4>
            <h4>Some other inputs or info...</h4>
            <h4>Some other inputs or info...</h4>
            <h4>Some other inputs or info...</h4>
            <h4>Some other inputs or info...</h4>
            <h4>Some other inputs or info...</h4>
            <h4>Some other inputs or info...</h4>
            <h4>Some other inputs or info...</h4>
            <h4>Some other inputs or info...</h4>
            <h4>Some other inputs or info...</h4>
            <h4>Some other inputs or info...</h4>
            <h4>Some other inputs or info...</h4>
            <h4>Some other inputs or info...</h4>

            <div class="pull-right">
                <button class="btn btn-default" type="button" ng-click="secondForm.$setPristine()">Reset</button>
                <button class="btn btn-info">Send!</button>
            </div>
        </form>

        <h4 ng-show="formSuccess[1]" class="text-success">Form validaton passed!</h4>

    </div>



    <h3>Custom Template</h3>

    <p class="help-block">
        Overridden template for the notification message. You can override the default template by using the provider, override it for a specific form or even a specific control!
    </p>

    <div class="well clearfix">
        <form vt-form ng-submit="submitForm(2)" name="thirdForm" novalidate notification-template="{{customFormTemplate}}">
            <div class="form-group">
                <label>Full name:</label>
                <input class="form-control" ng-model="thirdExample.fullName" vt required type="text"/>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" ng-model="thirdExample.email" vt required type="email"/>
            </div>
            <div class="form-group">
                <label>Number of cats owned:</label>
                <input class="form-control" ng-model="thirdExample.age" vt type="number" notification-template="{{customControlTemplate}}"/>
                <p class="help-block">This one even has it's own template, try entering something invalid!</p>
            </div>
            <div class="pull-right">
                <button class="btn btn-default" type="button" ng-click="thirdForm.$setPristine()">Reset</button>
                <button class="btn btn-info">Send!</button>
            </div>
        </form>
        <h4 ng-show="formSuccess[2]" class="text-success">Form validation passed!</h4>

    </div>

    <h3>Customized Message Triggers</h3>

    <p class="help-block">
        The default trigger to show a message is control blur, but you can change it, in all 3 tiers; project, form and control.
        This form is set to show messages each time a control gets $dirty.
    </p>

    <div class="well clearfix">
        <form vt-form ng-submit="submitForm(3)" name="fourthForm" novalidate controls-message-trigger="dirty">
            <div class="form-group">
                <label>Full name:</label>
                <input class="form-control" ng-model="fourthExample.fullName" vt required type="text"/>
            </div>
            <div class="form-group">
                <label>Address:</label>
                <input class="form-control" ng-model="fourthExample.address" vt ng-minlength="10" required type="text"/>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" ng-model="fourthExample.email" vt required type="email" message-trigger="none"/>
                <p class="help-block">
                    But this one is set to show only after a submit!
                </p>
            </div>
            <div class="form-group">
                <label>Favorite Fruit:</label>
                <input class="form-control" ng-model="fourthExample.fruit" vt type="text" ng-maxlength="5" required message-trigger="immediate" />
                <p class="help-block">And this one will show immediately</p>
            </div>
            <div class="pull-right">
                <button class="btn btn-default" type="button" ng-click="fourthForm.$setPristine()">Reset</button>
                <button class="btn btn-info">Send!</button>
            </div>
        </form>
        <h4 ng-show="formSuccess[3]" class="text-success">Form validation passed!</h4>

    </div>



    <h3>Animation Classes</h3>

    <p class="help-block">
        It's possible to define an animation class, which will be added to the notification element when it is showed.
        Works perfectly with <a href="http://daneden.github.io/animate.css/"></a>Animate.css</a> classes. This demo uses a few of them.This property
        is configurable in 2 tiers - per project and per form.
    </p>
    <div class="form-group">
         <label>Choose animation class:</label>
        <select class="form-control" ng-init="fifthExample.className='animated shake'" ng-model="fifthExample.className">
            <option value="animated flash">Flash</option>
            <option value="animated bounce">Bounce</option>
            <option value="animated pulse">Pulse</option>
            <option value="animated tada">Tada</option>
            <option value="animated shake">Shake</option>
            <option value="animated fadeInLeftBig">Fade In</option>
        </select>
        <p class="small">Chosen Animate.css class: <i>{{fifthExample.className}}</i></p>
    </div>

    <div class="well clearfix">
        <form vt-form ng-submit="submitForm(4)" name="fifthForm" novalidate animation-class="{{fifthExample.className}}">
            <div class="form-group">
                <label>Username:</label>
                <input class="form-control" ng-model="fifthExample.fullName" vt ng-minlength="5" required type="text"/>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input class="form-control" ng-model="fifthExample.address" vt ng-minlength="10" required type="text"/>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" ng-model="fifthExample.email" vt required type="email" message-trigger="none"/>
                <p class="help-block">
                    But this one is set to show only after a submit!
                </p>
            </div>
            <div class="form-group">
                <label>Favorite Fruit:</label>
                <input class="form-control" ng-model="fifthExample.fruit" vt type="text" ng-maxlength="5" required message-trigger="immediate" />
                <p class="help-block">And this one will show immediately</p>
            </div>
            <div class="pull-right">
                <button class="btn btn-default" type="button" ng-click="fifthForm.$setPristine()">Reset</button>
                <button class="btn btn-info">Send!</button>
            </div>
        </form>
        <h4 ng-show="formSuccess[4]" class="text-success">Form validation passed!</h4>

    </div>



</div>


